* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Source Sans Pro";
}

html, body, #container {
    height: 100%;
}

#container img {
    height: 400px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

#container img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid #857e7e;
}

#container h1 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
}

#container h2 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    opacity: 0.6;
}

#container p {
    font-size: 20px;
    max-width: 500px;
    text-align: center;
    opacity: 0.8;
    margin-top: 30px;
}

#container .links {
    margin-top: 15px;
}

#container .links a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    margin-left: 10px;
}

#container .links a:hover {
    transition: color 0.2s;
    color: #a3a3a3;
    border-color: #3d3d3d;
}

.menu-top a:hover {
    transition: color 0.2s;
    color: #a3a3a3;
    border-color: #3d3d3d;
}

.menu-top a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.menu-top {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}